<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Akashi" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script
      data-goatcounter="https://akashi.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    >
    </script>
  </head>
  <header class="flex flex-row items-center p-6 justify-between">
    <div class="flex flex-row items-center text-center space-x-4">
      <.link href={~p"/"} class="text-3xl italic font-semibold font-mono text-center align-middle">
        Akashi
      </.link>
    </div>
    <ul class="flex flex-row space-x-4">
      <li>
        <.link href={~p"/bounties"} class="btn">
          Bounties
        </.link>
      </li>
      <li>
        <.link href={~p"/invoices"} class="btn">
          Invoices
        </.link>
      </li>
      <li>
        <.link href={~p"/payments"} class="btn">
          Payments
        </.link>
      </li>
      <%= if @current_user do %>
      <% end %>
      <li>
        <%= live_render(@conn, AkashiWeb.SignInLive, id: "sign-in") %>
      </li>
    </ul>
  </header>
  <body class="bg-antialiased">
    <.flash_group flash={@flash} />
    <div class={if @conn.request_path == "/", do: "", else: "p-6"}>
      <%= @inner_content %>
    </div>
  </body>
</html>
